.username{
    position: relative;  
    color: var(--primary); 
    & > p{
        margin: 0 ;
    }
    &:hover{
        color: black;
        cursor: pointer;
    }
    &:hover .userdetail_container {
        display: block;
    }
   
}
 
.userdetail_container{
    display: none;
}