 .post_title{
    font-size: 4rem;
    font-weight: 500;
    margin: 30px 0 20px 0; 
    color:#857c7c;
    text-align: center;  
    word-break: break-all;
}
.statics_infor{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.author{ 
    border: 1px solid #dbdbdb;
    padding: 4px 8px;
    border-radius: 20px;
    display: flex;
    float: right;
    & .author_icon{
        margin-right: 8px;
        color:#857c7c; 
    }
}
.post_container{
    padding: 28px;
}
.actions_container{
    float: left;
}
.comments_container{
    margin-top: 20px;
}
.post_postcontent{
    font-size: 1.6rem;
    color:#686161;
    line-height: 2.6rem;  
    text-align: justify;
    border-bottom: #e4e2e280 1px solid ; 
    padding-bottom: 20px;
    word-break: break-all;

}
.date_container{ 
    float: right;
    color:#686161;  
    font-size: 1.4rem; 
    font-style: italic; 
    text-align: right;
}
.post_datecreated,.post_datemodify{ 
    margin: 0;
}
.post_datemodify{

}
.post_infor{

}