.post_container{
    background-color: purple;
}
.post_id{
    color:crimson
}
.post_title{
    color: tomato;
}
.post_postcontent{
    color: rgb(99, 47, 38);

}
.post_datecreated{
    color: rgb(117, 39, 25);

}
.post_datemodify{
    color: rgb(71, 255, 224);

}
.post_username{
    color: rgb(255, 71, 246);

}