.wrapper{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
}
 
.wrapper svg{
    padding-top: 4px;
    width: 100%; 
}
.st0{
    fill:none;
     
}
.st1{
    fill:#334747;
     

}
.st2{
    fill:#D41717;
     

}

 