.container{
    background-color: cadetblue; 
    padding: 10px 20px; 
    margin-top: 8px;
    & p{ 
        margin: 0;
    }
}
.profile_image{
    width: 30px;
    border-radius: 50%;
    border: 1px solid #c5c3c3;
} 