
.user_detail{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 50px;
    right: 50px;
    width: 500px;
    text-align: center; 
    background-color: rgb(158, 157, 156);   
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    z-index: 999;

}