 .search_container{
    
    position: relative;
    background-color: rgb(228, 227, 227);
    padding: 4px 6px 4px 10px;
    border-radius: 20px;
    & input{
        border: none;
        background-color: unset;
        outline: none;
    }
    & button{
        cursor: pointer;
        border: none; 
        color:#333;
        background-color: rgb(202, 199, 199);
        font-size: 1.4rem;
        line-height: 1.4rem;
        padding: 6px 8px;
        border-radius: 20px;
        &:hover{
            background-color: rgb(170, 168, 168);

            
        }
    }
 }
 .search_result{
    max-width: 300px;
    position: absolute;
    z-index: 1;
    background-color: rgb(228, 227, 227);
 }

 .post_item{ 
    padding: 12px 8px;
    & p{
        display: block;
        padding: 0;
        margin: 0;
        display: -webkit-box;
        max-width: 100%;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;  
        overflow: hidden;  
    }
    &:hover{
        cursor: pointer;
        background-color: rgb(185, 185, 185);
    }
 }