.header_wrapper{
    width: 100%;
    display: flex; 
    justify-content: center;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);

    background-color:#ffffff;
}
.header_container{ 
    max-width: 1150px;
    width: 100%;

    display: flex; 
    justify-content: space-between;
    height: 60px;
}
.logo_container{ 
   width: 220px;
}
.navigation_container{ 
    width: 420px;


}
.actions_container{ 
    width: 220px;

}