.container{
    height: 90vh;
    overflow-y: scroll;
}
.container::-webkit-scrollbar-track
{ 
	border-radius: 10px;
	background-color: #F5F5F5;
}

.container::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.container::-webkit-scrollbar-thumb
{
	border-radius: 10px; 
	background-color: #c2c2c2;
}