.container{
    background-color: rgb(182, 179, 179);
    margin-top: 8px;
    padding: 12px 16px;
    border-radius: 8px;
     
}
.post_actions_container{
    float: right;
}
 
.viewpost_btn{
    float: right;
}
.title{
    padding: 0;
    margin: 0;
}
.short_desc{
    font-size: 1.4rem;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical; 
    margin: 8px 0;
    overflow: hidden;  
    color: #3e4141; 

}
 
.date_created{
    margin: 0;
    padding: 0;
    display: inline-block;
}