.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}
.profile_container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile_container .profile_name{
    margin-right: 2px;
    color: var(--primary);
    overflow: hidden;
    width: 75px;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 60%;
    margin-top: 0;
    margin-bottom: 0;
}
.profile_image img{
    border: 1px solid rgb(121, 121, 121);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}
.profile_image{
    position: relative;
    &:hover .menu_container{
        display: block;
    }
}
.menu_container{  
    right: 0; 
    top: 20px;  
    position: absolute; 
    display: none; 
    
    & ul{  
        border-radius: 2px; 
        padding: 0;
        display: flex;
        flex-direction: column;
        border: 1px solid rgb(238, 233, 233);
        background-color: rgb(241, 240, 240);
        
    }
    & li{
        min-width: 120px;
        list-style: none;
        cursor: pointer;
        padding: 8px 16px;
         

    }
    & li a{
        text-decoration: none;
        color: unset;
    }
    & li:hover{
        background-color: rgba(175, 174, 174, 0.9);
        color: white;
        

    }
    
}
 
 