.wrapper{
    width: 100%;
    display: flex; 
    justify-content: center; 
}
.container{
    background-color: bisque;
    max-width: 1150px;
    width: 100%; 
    display: flex; 
    justify-content: space-around;
}
 
.content_container{
    background-color: rgb(209, 126, 24);
    width: 900px;


}